/* ------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------- */

:root{
    --white-color: #fff;
    --gray-color: #555;
    --brown-color: #E67E22;
    --dark_brown-color: #cf6d17;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--white-color);
    color:var(--gray-color);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    text-rendering: optimizeLegibility;
}

/* ------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------- */

.row {
    max-width: 55rem;
    margin: 0 auto;
}

header{
    background-image: url(/img/Website-Design-Background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box{
    position: absolute;
    width: 55rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    margin-top: 0;
    margin-bottom: 1.25rem;
    color: var(--white-color);
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    word-spacing: 0.25rem;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 0.525rem 2rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 12.5rem;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}



.btn-full:link,
.btn-full:visited {
    background-color: var(--brown-color);
    border: 0.0625rem solid var(--brown-color);
    color: var(--white-color);
    margin-right: 0.9375rem;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 0.0625rem solid var(--brown-color);
    color: var(--brown-color);
}

.btn:hover,
.btn:active{
    background-color: var(--dark_brown-color);
}

.btn-full:hover,
.btn-full:active {
    border: 0.0625rem solid var(--dark_brown-color);
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 0.0625rem solid var(--dark_brown-color);
    color: var(--white-color);
}